<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>

    <style>
        .signup_page {
            position: relative;
            top: 20px;
            width: 400px;
            height: 600px;
            margin: auto;
            padding: auto;
            text-align: center;
            box-shadow: 8.0px 18.0px 18.0px hsl(0deg 0% 0% / 0.38);
        }
        .email_box {
            padding: 10px;
            margin-top: 50px;
        }
        .signin_btn {
            padding: 10px;
        }

    </style>
</head>
<body>
    <div class="signup_page">
        <div class="email_box">
            <input type="email">
        </div>
        <div>
            <input type="password">
        </div>
        <div class="signin_btn">
            <button>로그인</button>
        </div>
        <div class="signup_btn">
            <button>회원가입</button>
        </div>
    </div>
</body>
</html>